<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>PHB newsletter - Connexion</title>
	<link rel="stylesheet" type="text/css" href="../css/login-form.css">
</head>
<body>
	
	<div class="login">
	  <h1>PHB Newsletter</h1>
	    <form method="post" action="./php/routeur.php">
	      <input type="text" name="u" placeholder="Email" required="required" />
	        <input type="password" name="p" placeholder="Mot de passe" required="required" />
	        <button type="submit" class="btn btn-primary btn-block btn-large">Se connecter</button>
	    </form>
	</div>

</body>
</html>
